.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #000;
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    box-shadow: 2px 1px 2px 2px silver;
}

h1{
    color: #ffffff;
    font-size: 45px;
    margin-top: 0;
}

#display{
    width: 100%;
    padding: 15px;
    border-radius: 9px;
    border: 0;
    font-size: 20px;
}

.btn{
    margin-top: 12px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 1px 2px 3px  silver;
}

.btn:hover {
    background-color: rgb(135, 183, 255);
    color: white;
}

.symbol{
    background-color: #5f5f5f;
    color: white;
}

.clear{
    background-color: rgb(252, 62, 62);
    color: white;
}

.equal{
    background-color: rgba(14, 165, 0, 0.925);
    color: white;
}



@media only screen and (min-width: 768px) {
    .calculator {
        max-width: 600px;
    }
}

@media only screen and (min-width: 1024px) {
    .calculator {
        max-width: 800px;
    }
}

@media (max-width:388px) {
    .btn {
        height: 75px;
        width: 75px;
    }
}

@media (max-width:368px) {
    .btn {
        height: 68px;
        width: 68px;
    }
}

@media (max-width:340px) {
    .calculator h1 {
        font-size: 30px;
    }
    .btn {
        height: 62px;
        width: 62px;
    }
    #display{
    width: 100%;
    padding: 10px;
    border-radius: 9px;
    border: 0;
    font-size: 16px;
}
}